{% extends 'base.html.twig' %}

{% block title %}Shortener Info{% endblock %}

{% block body %}
    <div class="container">
        <h1>Shortener Info</h1>

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Code: {{ shortener.code }}</h5>
                <p class="card-text">URL: <a href="{{ shortener.url }}">{{ shortener.url }}</a></p>
                <p class="card-text">User: {{ shortener.user.email }}</p>
                <p class="card-text">Redirect Count: {{ shortener.count }}</p>
            </div>
        </div>
    </div>
{% endblock %}
